#main {
    flex: 1 0 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.center{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#country-summary {
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5rem;
}

#country-summary > div {
    place-self: center stretch;
}