.center{
    display: flex;
    justify-content: space-around;
    width: 95%;
    height: auto;
    margin: 30px;
    border-top: 1px solid grey;
    padding-top: 30px;
}

#country-summary {
    height: 25%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5rem;
    margin-right: 20px;
}

#country-summary > div {
    place-self: center stretch;
}