.card{
  width: 100%;
  border-radius: 10px;
  background-color: white;
  display: inline-flex;
  margin: 10px;
  box-shadow: rgba(red, green, blue, alpha) 0px 0px 10px; 
}

.cardlogo{
  padding:10px;
}

.cardcontent{
  color: black;
}