.card {
  height: 6rem;
  padding: .3em;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1rem;
  background-color: #f1f1f1;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform .3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card > div {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  font-size: 1em;
  font-weight: bold;
}

.card-counter {
  font-size: 1.5em;
  font-weight: bold;
}

.card-icon {
  width: 140px;
  height: 140px;
  position: absolute;
  right: -50px;
  top: -50px;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  opacity: 0.1;
  background-image: "http://www.w3.org/2000/svg";
}

.card-icon > img {
  height: 100%;
}