.checkout{
    margin: 0 auto;
    width: 400px;
}

.textCantidad{
    text-align: center;
    font-weight: 500;
}

.btnCheckout{
    text-align: center;
    background-color: white;
    width: 100%;
    color: black;
    font-weight: 500;
    display: block;
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
}