@font-face {
    font-family: "my font";
    src: url("../../assets/lanenar_Lane.woff");
}

@font-face {
    font-family: "my font";
    src: url("/src/assets/lanenar_Lane.woff");
}


.cardTop {
   background-color: white; 
   font-family: "my font";
   width:100%;
   border-radius: 5px;
   margin: 5px;
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   box-shadow: 10px 10px 100px rgb(213, 213, 239);
   font-family: my font;
   font-weight: bold;

}

.cardTop:hover{
    transform: translateY(-10px);
}

.cardTop:hover{
    transform: translateY(-10px);
}

.imagen{
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}

.textPais {
    margin-right: 150px;
    margin-left: 5px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.textDato {
    margin-right: 10px;
    
}

.datos {
display: flex;

}