.cardTop {
   background-color: aqua; 
   width:80%;
   border-radius: 10px;
   display:flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

.imagen{
    background-color: blue;
    display: flex;
   
    
}

.textPais {
    background-color: chartreuse;
    
    
    
}

.textDato {
    background-color: darkgoldenrod;
    
}